
.f-app .f-1713714546eBFWW {letter-spacing: 0px; opacity: 1;}
.f-app .f-1713714546Z1PCP {letter-spacing: 0px; opacity: 1; gap: 30px;}
.f-app .f-1713714546wT5fW {letter-spacing: 0px; opacity: 1;}
.f-app .f-1713714546gSRj0 {letter-spacing: 0px; opacity: 1;}
.f-app .f-1713714546BbwYx {letter-spacing: 0px; opacity: 1;}
.f-app .f-17137145469NqjV {letter-spacing: 0px; opacity: 1;}
.f-app .f-1713714546y8zxx {letter-spacing: 0px; opacity: 1;}
.f-app .f-1713714546Lcmvx {letter-spacing: 0px; opacity: 1;}
.f-app .f-171371454602vvi {letter-spacing: 0px; opacity: 1;}
.f-app .f-171371454620gnQ {letter-spacing: 0px; opacity: 1;}
.f-app .f-1713714546baUCa {letter-spacing: 0px; opacity: 1;}
.f-app .f-1713714546ZwsTU {letter-spacing: 0px; opacity: 1;}