.collection-hero__inner {
  align-items: center;
  text-align: center;
}

.collection-hero__text-wrapper {
  margin: 0 auto;
}

.collection-hero__title {
  margin: 3rem 0 0.75rem;
  font-size: 1.15em;
}

.collection-hero__description {
  margin: 0 auto;
}

.card__media {
  border-radius: 14px;
  overflow: hidden;
}

.card__media img,
.card__media svg {
  transform: scale(1.05);
}
